#game
    background-color: #FAB746
    min-height: 100vh
    .box
        background-color: #ffffff
        width: 400px
        height: 400px
        margin-top: 70px
        border-radius: 20px
        .btn
            border: 1px solid #000000